.p-36{
    font-size: 36px;
}
.p-34{
    font-size: 34px;
}
.p-32{
    font-size: 32px;
}
.p-30{
    font-size: 30px;
}.p-28{
    font-size: 28px;
}
.p-26{
    font-size: 26px;
}
.p-24 {
	font-size: 24px;
}
.p-22 {
	font-size: 22px;
}
.p-20 {
	font-size: 20px;
}
.p-18 {
	font-size: 18px;
}
.p-16 {
	font-size: 16px;
}
.p-14 {
	font-size: 14px;
}
.p-12 {
	font-size: 12px;
}
.center-text {
	text-align: center;
}
.right {
	text-align: right;
}
.bolder {
	font-weight: bold;
}